{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

<div class="container-fluid .bg-warning.bg-gradient">
  <div class="container-fluid  px-0 ">
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/2.jpg" class="d-block w-100 " alt="READY TO EAT" height="500" width="1000">
          <!---- addin imge own---->
          <div class="carousel-caption d-none d-md-block">
            <h5>YOU CAN NOT IGNORE IT</h5>
            <p style="color:violet">Welcome to our ice cream website, where every scoop is a celebration! We are
              passionate about creating the most delicious and creamy ice cream flavors that will transport you to a
              world of sweetness and happiness.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/1.jpg" class="d-block w-100" alt="YOU CAN ORDER NOW" height="500" width="1000">
          <div class="carousel-caption d-none d-md-block">
            <h5></h5>
            <p style="color:black">From classic flavors like vanilla and chocolate to innovative creations like salted
              caramel and cookie dough, our range of flavors will leave you spoilt for choice. And for those who are
              looking for something more exotic, we've got you covered with our seasonal fruit flavors, including juicy
              mango and tangy passionfruit.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/3.jpg" class="d-block w-100" alt="..." height="500" width="1000">
          <div class="carousel-caption d-none d-md-block">
            <h5></h5>
            <p style="color:black">Our ice cream is not only delicious but also healthy. We use only the finest natural
              ingredients, without any artificial preservatives or flavors. You can enjoy guilt-free indulgence with
              every scoop!</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


  </div>
  <div class="album py-5 bg-body-tertiary">
    <div class="container my-3" style="background-color: rgb(226, 228, 225);">

      <h1 class-"my-2 text-center" style=" text-align: center; color:rgb(0, 225, 255)">Select From Our Range Of Ice
        Creams </h1>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm" style="background-color: rgb(234, 238, 14);">
            <img src="/static/4.jpg" class="d-block w-100 " alt="READY TO EAT" height="200" width="50">

            <div class="card-body">
              <p class="card-text">vinilaa cup cake</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="background-color: rgb(223, 238, 14);">
            <img src="/static/5.jpg" class="d-block w-70 " alt="READY TO EAT" height="200" width="350">

            <div class="card-body">
              <p class="card-text">butter cake</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="background-color: rgb(223, 238, 14);">
            <img src="/static/6.jpg" class="d-block w-100 " alt="READY TO EAT" height="200" width="50">

            <div class="card-body">
              <p class="card-text">Cookies and Cream</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm" style="background-color: rgb(223, 238, 14);">
            <img src="/static/7.jpg" class="d-block w-100 " alt="READY TO EAT" height="200" width="50">

            <div class="card-body">
              <p class="card-text">Chocolate</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="background-color: rgb(223, 238, 14);">
            <img src="/static/8.jpg" class="d-block w-100 " alt="READY TO EAT" height="200" width="50">

            <div class="card-body">
              <p class="card-text">chocolate cookie ICECREAM</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="background-color: rgb(223, 238, 14);">
            <img src="/static/5.jpg" class="d-block w-100 " alt="READY TO EAT" height="200" width="50">

            <div class="card-body">
              <p class="card-text">vinilla and chocolate bread</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm" style="background-color: rgb(223, 238, 14);">
            <img src="/static/3.jpg" class="d-block w-100 " alt="READY TO EAT" height="200" width="50">

            <div class="card-body">
              <p class="card-text">pistacho</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="background-color: rgb(223, 238, 14);">
            <img src="/static/1.jpg" class="d-block w-100 " alt="READY TO EAT" height="200" width="50">

            <div class="card-body">
              <p class="card-text">cones</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="background-color: rgb(223, 238, 14);">
            <img src="/static/2.jpg" class="d-block w-100 " alt="READY TO EAT" height="200" width="50">

            <div class="card-body">
              <p class="card-text">Butter Pecan</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="conainer-fluid px-10" style="background-color: antiquewhite;">
  
<hr style="border: none; border-top: 5px solid rgb(0, 0, 0);">
<div class="container" style="text-align: center;">
This is the official website of <strong>ICE CREAM PARLOUR</strong>
<i>This website was created on 17 April 2023</i>
<br>
phone:1234566778
<br>
email:admin@gmail.com
<br>
<strong>COPYRIGHT @1234 </strong>
<br>
</div>
<hr style="border: none; border-top: 5px solid rgb(0, 0, 0);">    

</div>
{% endblock body %}



