{% extends 'base.html' %}

{% block title %}Serces{% endblock title %}

{% block body %} 
<br>
<div class="container" style="text-align: center; height: 100px; width: 100px">
    <h1><strong><i>OUR MENU</i></strong></h1>
</div>
</div>
<div class="album py-5 bg-body-tertiary-fluid px-0">
  <div class="container-fluid my-3" style="background-color: rgb(226, 228, 225);">
  

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm" style="background-color: rgb(234, 238, 14);">
          <img src="/static/4.jpg" class="d-block w-100 " alt="READY TO EAT" height="200" width="50">

          <div class="card-body">
            <p class="card-text">vinilaa cup cake</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm" style="background-color: rgb(223, 238, 14);">
          <img src="/static/5.jpg" class="d-block w-70 " alt="READY TO EAT" height="200" width="350">

          <div class="card-body">
            <p class="card-text">butter cake</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm" style="background-color: rgb(223, 238, 14);">
          <img src="/static/6.jpg" class="d-block w-100 " alt="READY TO EAT" height="200" width="50">

          <div class="card-body">
            <p class="card-text">Cookies and Cream</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm" style="background-color: rgb(223, 238, 14);">
          <img src="/static/7.jpg" class="d-block w-100 " alt="READY TO EAT" height="200" width="50">

          <div class="card-body">
            <p class="card-text">Chocolate</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm" style="background-color: rgb(223, 238, 14);">
          <img src="/static/8.jpg" class="d-block w-100 " alt="READY TO EAT" height="200" width="50">

          <div class="card-body">
            <p class="card-text">chocolate cookie ICECREAM</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm" style="background-color: rgb(223, 238, 14);">
          <img src="/static/5.jpg" class="d-block w-100 " alt="READY TO EAT" height="200" width="50">

          <div class="card-body">
            <p class="card-text">vinilla and chocolate bread</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm" style="background-color: rgb(223, 238, 14);">
          <img src="/static/3.jpg" class="d-block w-100 " alt="READY TO EAT" height="200" width="50">

          <div class="card-body">
            <p class="card-text">pistacho</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm" style="background-color: rgb(223, 238, 14);">
          <img src="/static/1.jpg" class="d-block w-100 " alt="READY TO EAT" height="200" width="50">

          <div class="card-body">
            <p class="card-text">cones</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm" style="background-color: rgb(223, 238, 14);">
          <img src="/static/2.jpg" class="d-block w-100 " alt="READY TO EAT" height="200" width="50">

          <div class="card-body">
            <p class="card-text">Butter Pecan</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock body %}


